node_modules/
dist/
package-lock.json

# WebFundamental
webfundamental/*
!webfundamental/Submission*

# web dasar
webdasar/*
!webdasar/Submission

# pwa
pwa/*
!pwa/submission

# MADE
MADE/*
!MADE/Submission
MADE Kotlin/*
!MADE Kotlin/Submission

# JetPack
JetPack/*
!JetPack/Submission
JetPack Kotlin/*
!JetPack Kotlin/Submission

#Android Pemula
Android Pemula/*
!Android Pemula/TemanBuku

#Kotlin Dasar
Kotlin/*