<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.manheadblog.moviecatalogue">
    <permission android:name="com.manheadblog.moviecatalogue.READ_DATABASE" android:protectionLevel="normal"/>
    <permission android:name="com.manheadblog.moviecatalogue.WRITE_DATABASE" android:protectionLevel="normal"/>

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:name=".App"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:ignore="GoogleAppIndexingWarning">
        <activity
            android:name=".useCase.release.ReleaseActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar"/>

        <receiver android:name=".widget.tvshow.FavoriteTVShowWidget">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
            </intent-filter>

            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/favorite_tvshow_widget_info" />
        </receiver>
        <receiver android:name=".widget.movie.FavoriteMovieWidget">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
            </intent-filter>

            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/favorite_movie_widget_info" />
        </receiver>
        <receiver android:name=".service.AlarmReminder"
            android:enabled="true"
            android:exported="true"/>

        <activity
            android:name=".useCase.search.SearchActivity"
            android:label="@string/title_activity_search"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".useCase.config.SettingsActivity"
            android:label="@string/title_activity_settings" />
        <activity
            android:name=".useCase.favorite.FavoriteActivity"
            android:label="@string/title_activity_favorite"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".useCase.tvdetail.TVShowDetailActivity" />
        <activity android:name=".useCase.moviedetail.MovieDetailActivity" />
        <activity
            android:name=".useCase.main.MainActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <service
            android:name=".widget.movie.MovieWidgetService"
            android:permission="android.permission.BIND_REMOTEVIEWS" />
        <service
            android:name=".widget.tvshow.TVShowWidgetService"
            android:permission="android.permission.BIND_REMOTEVIEWS" />

        <provider
            android:authorities="com.manheadblog.moviecatalogue"
            android:name=".provider.DatabaseProvider"
            android:exported="true"
            android:readPermission="com.manheadblog.moviecatalogue.READ_DATABASE"
            android:writePermission="com.manheadblog.moviecatalogue.WRITE_DATABASE" />

    </application>

</manifest>